<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TargetFolder" value="C:\ProgramData\Tencent\QQPinyin\users\D2C90D9B016FA469C5BD2CEEF8A5C003@qq.sohu.com\dict"/>
	</appSettings>
</configuration>